.tipsPage{
  background:linear-gradient(100deg,#00cec9,#00cec9);
}

.redFont{
  color: #00b894;
}

.card3{
  width: 50%;
  float: left;
  border-bottom: 1px solid lightgrey;
}
.borderTweak{
  border-left: 1px solid lightgrey;
}
.amountError{
  > div{
    background-color: #c23616 !important;
  }
}
